.footer {
    background-color: #333;
    color: #fff;
    padding: 3rem 0;
    margin-top: 4rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.copyright {
    font-size: 0.85rem;
    color: #aaa;
}
